header {
  background: #bbbbbb;
  padding: 20px 0;
}

header .caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

header .caixa nav {
  position: absolute;
  top: 110px;
  right: 0;
}

header .caixa nav ul li {
  display: inline;
  margin: 0 0 0 15px;
}

header .caixa nav ul li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

header .caixa nav ul li a:hover {
  color: #c78c19;
  text-decoration: underline;
}

main {
  width: 940px;
  margin: 0 auto;
}

main form {
  margin: 40px 0;
}

main form label,
main form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

main form .input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

main form .checkbox {
  margin: 20px 0;
}

main form .enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: all 1s;
  cursor: pointer;
}

main form .enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

main table {
  margin: 20px 0 40px;
}

main table thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

main table thead tr th,
main table tbody tr td {
  border: 1px solid #000000;
  padding: 8px 15px;
}

main .produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

main .produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

main .produtos li:hover {
  border-color: #c78c19;
}

main .produtos li:active {
  border-color: #088c19;
}

/* h2 alterado no hover do li */
main .produtos li:hover h2 {
  font-size: 34px;
}

main .produtos li h2 {
  font-size: 30px;
  font-weight: bold;
}

main .produtos li .produto-descricao {
  font-size: 18px;
}

main .produtos li .produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
}

footer {
  text-align: center;
  background: url('./img/bg.jpg');
  padding: 40px 0;
}

footer .copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}
